/* fonts.css */
@font-face {
    font-family: 'Tanker';
    src: url('./assets/fonts/Excon-Medium.woff2') format('woff2'),
        url('./assets/fonts/Excon-Medium.woff') format('woff');
    font-weight: 400;
    /* Normal weight */
    font-style: normal;
    /* Regular style */
}

@font-face {
    font-family: 'TankerBold';
    src: url('./assets/fonts/Excon-Medium.woff2') format('woff2'),
        url('./assets/fonts/Excon-Medium.woff') format('woff');
    font-weight: 700;
    /* Bold weight */
    font-style: normal;
    /* Bold style */
}